[Unit]
Description=harbour-pyletoh eavesdropper
Requires=dbus.socket
After=pre-user-session.target lipstick.service dbus.socket

[Service]
ExecStart=/usr/bin/python3 /usr/share/harbour-pyletoh/qml/eavesdropper.py
Restart=always

[Install]
WantedBy=user-session.target
